* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right top, lightblue,lightgreen);
}

.container {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    margin: 5px;
}

h1 {
    font-size: 30px;
}

input {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
    outline: none;
    margin: 10px;
}

.compute-btn {
    background-color: rgb(144, 238, 144);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-out;
}

.compute-btn:hover {
    background-color: rgba(14, 238, 144, 2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#weight-condition {
    font-size: 24px;
    font-weight: bold;
}