* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
}

.container {
    background-color: gray;
    box-shadow: 0px 0px 15px rgba(154, 154, 154, 0.5);
    height: 45%;
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container div {
    width: 90%;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

input:focus,
input:active {
    outline: none;
}